<div *ngIf="(supply$ | async) as supply">
  <mat-toolbar fxLayoutAlign='space-between center'>
    <button mat-raised-button fxHide.xs (click)="backToList()" color="accent">
      <mat-icon>keyboard_backspace</mat-icon>
      retour à la liste
    </button>
    <h2 *ngIf="readonly">{{supply?.name}}</h2>
    <button mat-raised-button (click)="editMode()" *ngIf="readonly" color="accent">Modifier</button>
    <button mat-raised-button (click)="save()" *ngIf="!readonly" [disabled]="supplyForm.pristine" form="ngForm" color="accent">Sauvegarder</button>
    <button mat-raised-button (click)="cancel()" *ngIf="!readonly" color="accent">Annuler</button>
  </mat-toolbar>
  <div fxLayout="row" fxLayout.xs="column">
    <mat-card fxFlex="40%">
      <form [formGroup]="supplyForm" [connectForm]="supply$ | async" fxLayout='column' #ngForm>
        <mat-form-field>
          <input matInput type="text" [readonly]="readonly" formControlName="name" placeholder="Nom">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput type="text" [readonly]="readonly" formControlName="description" placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" [readonly]="readonly" formControlName="unitsInStock" placeholder="Stock actuel">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" [readonly]="readonly" formControlName="alertStock" placeholder="Niveau d'alerte">
        </mat-form-field>
      </form>
    </mat-card>
    <mat-card fxFlex="20%">
      <form [formGroup]="requestForm" fxLayoutGap="20px" (ngSubmit)="createRequest()">
        <mat-form-field>
          <input matInput type="text" placeholder="Quantité" formControlName="quantity">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date de livraison" formControlName="deliveryDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="accent" [disabled]="requestForm.invalid">
            <mat-icon>list_alt</mat-icon>Commander</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <mat-card fxFlex="40%">
      <div *ngIf=hasRequests(supply)>
        <app-order-requests [supply]="supply"></app-order-requests>
      </div>
      <div *ngIf=!hasRequests(supply)>
        <p>Pas de demandes actives</p>
      </div>
    </mat-card>
  </div>

</div>