<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayoutGap="15px">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Stockman</span>
      <span fxFlex="auto"></span>
      <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
      <span *ngIf="!(isLoggedIn$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxHide.xs>
      <span class="link" routerLink="/signin">Connexion</span>
      <span class="link" routerLink="/signup">Inscription</span>
      </span>
      <span *ngIf="isLoggedIn$ | async" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxHide.xs>
        <span class="link" routerLink="/profil">Mon compte</span>
        <mat-icon class="link" (click)="logout()">power_settings_new</mat-icon>     
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>