<div *ngIf="(provider$ | async) as provider">
<mat-card>
<mat-toolbar fxLayoutAlign="space-between center">
  Détails
  <button mat-raised-button (click)="editMode()" *ngIf="(readonly$ | async)">Modifier</button>
  <button mat-raised-button (click)="save()" *ngIf="!(readonly$ | async)">Sauvegarder</button>
  <button mat-raised-button (click)="cancel()" *ngIf="!(readonly$ | async)">Annuler</button>
</mat-toolbar>
<app-provider-form [provider]="provider"></app-provider-form>
</mat-card>
<mat-card>
  <app-provider-supply-list [provider]="provider"></app-provider-supply-list>
</mat-card>
</div>