<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>home</mat-icon>
          Fournisseur
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-nav-list>
          <mat-list-item *ngFor='let link of links' routerLink={{link.path}} class='navlinks'>{{link.name}}</mat-list-item>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
    </mat-accordion>
  <mat-nav-list>
    <mat-list-item *ngFor='let link of links' routerLink={{link.path}} class='navlinks'>
      <mat-icon aria-hidden="true">{{link.icon}}</mat-icon>{{link.name}}</mat-list-item>
  </mat-nav-list>