/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.link {
    outline: 0;
    cursor: pointer;
}

mat-row:hover {
    background-color: #f2f4f7;
 }

 mat-card {
    margin: 15px;
}


/* body { 
    margin: 0;
 } */

