<section *ngIf='providerSource'>
  <mat-toolbar fxLayoutAlign='space-between center'>
    <span fxHide.xs>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="filtre" >
      </mat-form-field>
     </span> 
  </mat-toolbar>
    <mat-table [dataSource]="providerSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="siret">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs>n° Siret</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs>{{row.siret}}</mat-cell>
        </ng-container>
      <!-- Définition des colonnes -->
      <mat-header-row *matHeaderRowDef="providerColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: providerColumns" routerLink="{{row.id}}"></mat-row>
    </mat-table>
  </section>
  